<div class="container">
    <div class="introduction">
        <div class="col-1">
            <section class="name-intro web">
                MEET THE FUTURE OF SMART AIR
            </section>
            <section class="skills-section">
                <section class="title">Skills Used</section>
                <section class="skills">
                    <p>Web design</p>
                    <p>3d renders</p>
                    <p> Interactive Design</p>
                    <p> Motion Design</p>
                </section>
            </section>
        </div>
        <div></div>
        <div class="image-section">
            <section class="project-name">
                Kapsul
            </section>
            <hr>
            <section class="section-details">
                <span>01/</span>
                <span>User interface and brand Design</span>
                <span>/05</span>
            </section>
            <div class="image-container">
                <img src="assets/images/prod2.png" alt="project-image">
                <section class="name-intro mobile">
                    MEET THE FUTURE OF SMART AIR
                </section>
            </div>
        </div>
    </div>
    <div class="challenge-section">
        <hr>
        <section class="section-details">
            <span>02/</span>
            <div>
                <span>Overview</span>
                <span>/05</span>
            </div>
        </section>
        <div class="challenge-approach">
            <section class="title">Challenge</section>
            <section class="text">
                With a successful crowdfunding campaign the Kapsul team was looking to build a website experience that
                reflected their premium smart air product and design-minded consumer.
            </section>
        </div>
        <div class="challenge-approach">
            <section class="title">Approach</section>
            <section class="text">
                With a successful crowdfunding campaign the Kapsul team was looking to build a website experience that
                reflected their premium smart air product and design-minded consumer.
            </section>
        </div>
    </div>
</div>