<div class="container">
    <hr>
    <div class="heading">
        <span>04/</span>
        <div>
            <span>Brand Identity Campaign</span>
            <span>/05</span>
        </div>
    </div>
    <div class="logo-info">
        <section class="title">Kapsul Logo</section>
        <section class="text">
            Inspired by its connectivity and smart air category, the Kapsul logo incorporates both the Wifi symbol and
            the feeling of air flowing in the shape of the letter “K”
        </section>
    </div>