<div class="container">
    <div class="border">
        <svg class="svg-border" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="none">
            <path id="svg-border"  #svgBorder d="M1 10
            Q1 1, 10 1
            L90 1
            Q99 1, 99 10
            L99 90
            Q99 99, 90 99
            L10 99
            Q1 99, 1 90
            Z" fill="transparent" stroke="black" stroke-width="0.1"/>
        </svg>
        <p class="text-1">Got A Project in Mind</p>
        <div class="connect">
            Let's Connect
        </div>
        <section class="view">
            <svg id="circle-2" height="150" width="150">
                <path id="path-2" d="
                M 75, 75
                m 70, 0
                a 70,70 0 1,0 -140,0
                a 70,70 0 1,0  140,0
                " fill="transparent" stroke="black" stroke-dasharray="0 440" />
                <!-- <circle cx="75" cy="75" r="70" stroke="black" stroke-width="2" fill="transparent"/> -->

            </svg>
            <p class="view-text-2"> write a message</p>
        </section>
    </div>

    <app-footer></app-footer>
</div>