.container {
    margin: 0 138px 0 138px;
    @media (max-width:1300px) {
        margin: 0 7% 0 7%;
    }

    display: flex;
    flex-direction: column;
}

.border {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 20%;
    padding-bottom: 13%;
    border: 1px solid black;
    border-radius: 50px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    font-family: Archivo;

    p {
        font-size: 20px;
        text-align: center;
    }

    .connect {
        text-align: center;
        margin-top: 10px;
        margin-bottom: 30px;
        font-size: 96px;
        line-height: normal;
        letter-spacing: -3.28px;

        @media (max-width: 750px) {
            font-size: 3.2em;
        }
    }

    .circle {
        display: flex;
        padding: 20px;
        // justify-content: center;
        align-items: center;
        width: 106px;
        height: 106px;
        text-align: center;
        border: 1px solid black;
        border-radius: 50%;
    }

}

