<div class="container">
    <!-- <hr size="1"> -->
    <!-- <div class="heading">
        <section>02/</section>
        <section>ABOUT</section>
        <section class="links pc">
            <a href="#">EMAIL/</a>
            <a href="#">INSTAGRAM/</a>
            <a href="#">YOUTUBE/</a>
            <a href="#">lINKEDIN</a>
        </section>
        <section class="links mobile">
            <a href="#">EM/</a>
            <a href="#">IG/</a>
            <a href="#">YT/</a>
            <a href="#">IN</a>
        </section>
        <section>/04</section>
    </div> -->
    <div class="about">
        <!-- <section class="intro"> Hello, My Name is Ochanya, I'm a Design consultant at the Institute for development
            impact where
            I create products, websites and brands. Creative Thinking and Problem
            solving are where my mind wonders using my knowledge and passion for design as my medium.
        </section> -->
        <section class="page">
            01//04 SCROLL <span><mat-icon color="white">arrow_downward</mat-icon></span>
        </section>
        <div class="image-row">
            <section class="card">

                <img class="img" src="assets/images/image 1.png" width="100%" height="100%" alt="">
                
            </section>
            <section class="learn">
                <span>Learn More</span>
            </section>
        </div>
        <section class="name righttoleft">
            <span>Inter - Disciplinary Designer &nbsp; &nbsp;</span>
            <span>Inter - Disciplinary Designer &nbsp; &nbsp;</span>
            <!-- <span>Ochanya Adah &nbsp; &nbsp;</span>
            <span>Ochanya Adah &nbsp; &nbsp;</span> -->
        </section>
        <div></div>
    </div>
    
</div>