<div class="container">
    <hr color="#F5F5F5" size="1">
    <div class="heading">
        <section>02/</section>
        <section>ABOUT</section>
        <section class="links pc">
            <a href="#">EMAIL/</a>
            <a href="#">INSTAGRAM/</a>
            <a href="#">YOUTUBE/</a>
            <a href="#">lINKEDIN</a>
        </section>
        <section class="links mobile">
            <a href="#">EM/</a>
            <a href="#">IG/</a>
            <a href="#">YT/</a>
            <a href="#">IN</a>
        </section>
        <section>/04</section>
    </div>
    <div class="about">
        <section class="intro"> Hello, My Name is Ochanya, I'm a Design consultant at the Institute for development
            impact where
            I create products, websites and brands
        </section>
        <div class="image-row">
            <section class="card">

                <img class="img" src="assets/images/image 1.png" width="100%" height="100%" alt="">
                
            </section>
            <section class="learn">
                <span>Learn More</span>
            </section>
        </div>
        <section class="name righttoleft">
            <span>Ochanya Adah &nbsp; &nbsp;</span>
            <span>Ochanya Adah &nbsp; &nbsp;</span>
            <!-- <span>Ochanya Adah &nbsp; &nbsp;</span>
            <span>Ochanya Adah &nbsp; &nbsp;</span> -->
        </section>
        <div></div>
    </div>
    
</div>