.social-row {
    margin-top: 43px;
    display: flex;
    justify-content: space-between;
    font-family: Archivo;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;

    @media (max-width: 1000px) {
        flex-direction: column;
        justify-content: center;
        text-align: center;
        gap: 30px;
    }

    a {
        text-decoration: none;
        color: black;
    }

    .links {
        display: flex;
        flex-wrap: wrap;
        gap: 100px;
        justify-content: space-evenly;
        align-items: center;
    }
    .footer-text {
        overflow: hidden;
    }
    .underline{
        position: relative;
      }
      
      .underline::before{
        content: '';
        position: absolute;
        bottom: 0;
        right: 0;
        width: 0;
        height: 2px;
        background-color: black;
        transition: width 0.6s cubic-bezier(0.25, 1, 0.5, 1);
      }
      
      @media (hover: hover) and (pointer: fine) {
        
        .underline:hover::before{
          left: 0;
          right: auto;
          width: 100%;
        }
      }
}