<div class="header">
    <section class="name">Ochanya A.</section>
    <section class="links">
        <span>Projects</span>
        <span>About</span>
    </section>
    <section class="button">
        <button mat-button color="white">Available for Freelance</button>
    </section>
    <button class='toggle' aria-haspopup='true' aria-controls='primary-navigation'>
        <span class='line top'></span>
        <span class='line mid'></span>
        <span class='line bottom'></span>
      </button>

</div>