.container {
    margin: 50px 138px 0 138px;

    @media (max-width:1300px) {
        margin: 50px 7% 0 7%;
    }

    .heading {
        margin-top: 21px;
        margin-bottom: 60px;
        display: flex;
        justify-content: space-between;
    }

    .details {
        display: flex;
        justify-content: space-between;

        @media (max-width: 1400px) {
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 50px;
        }
    }

    .view {
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 108px;
        padding: 20px;
        width: 100px;
        height: 100px;
        border-radius: 50%;
        border-top-color: #3498db;
        border: 2px solid white;
        cursor: pointer;

    }

    .card-row::-webkit-scrollbar {
        width: 0.01px;
        /* Width of the scrollbar */
    }

    .card-row {
        display: flex;
        position: relative;
        gap: 1rem;
        width: 100%;
        overflow-x: auto;
        scroll-snap-type: x;
        scrollbar-width: none;
        /* Firefox */
        -ms-overflow-style: none;
        margin-top: 5%;
        margin-bottom: 10%;

        .card {
            max-width: 750px;
            border-radius: 25px;
            filter: drop-shadow(0 0 5px #131313);

            @media (max-width: 1000px) {

                gap: 0;
                transition: z-index 50ms ease;
                position: relative;
                min-width: calc(80% - 2rem);
                height: 70%;
                scroll-snap-align: start;
            }
            @media (max-width: 700px) {
                min-width: calc(100% - 2rem);
                
            }
            .img {
                border-radius: 25px;

                @media (max-width:1000px) {
                    transition: 500ms cubic-bezier(0.17, 0.67, 0.55, 1.43, );
                }
            }


        }
    }

    .intro {
        max-width: 1000px;
        font-family: Archivo;
        font-size: 45px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-indent: 45px;
    }
}