<div class="container">
    <hr color="#F5F5F5" size="1">
    <div class="heading">
        <section>03/</section>
        <section>PROJECTS</section>
        <section>
          
        </section>
        <section>/04</section>
    </div>
    <div class="details">
        
        <section class="intro">
            Here are some select projects that showcase my passion for creating memorable web experiences, products, and bringing brands to life.
        </section>
        <section class="view">
            <span>View All Projects</span>
        </section>
    </div>
    <div class="card-row">
        <div class="card" 
        *ngFor="let image of images; 
        let i = index"
        [ngClass]="{
            'selected': i === selectedIndex,
            'prev': i === selectedIndex - 1,
            'next': i === selectedIndex + 1,
            'hideLeft': i < selectedIndex - 1,
            'hideRight': i > selectedIndex + 1,
            
        }">
              <section class="img" >
                <img [src]="image" width="100%" height="100%" alt=""
                (panright)="showPrev(i)"
                (panLeft)="showNext(i)">
                Name
              </section>  
        </div>
       
    </div>
</div>