<div class="container">
    <hr color="#F5F5F5" size="1">
    <div class="heading">
        <section>03/</section>
        <section>PROJECTS</section>
        <section>
          
        </section>
        <section>/04</section>
    </div>
    <div class="details">
        
        <section class="intro">
            Here are some select projects that showcase my passion for creating memorable web experiences, products, and bringing brands to life.
        </section>
        <section class="view">
            <span>View All Projects</span>
        </section>
    </div>
    <div class="card-row" #wrapperElement (mousedown)="onMouseDown($event)" (mouseup)="onMouseUp()">
        <div class="card" 
        *ngFor="let image of images; 
        let i = index">
              <section class="img">
                <img [src]="image" width="100%" height="100%" alt="">
                Name
              </section>  
        </div>
       
    </div>
</div>