<div>
    <div class="container">
        <section class="page">
            01//04 SCROLL <span><mat-icon color="white">arrow_downward</mat-icon></span>
        </section>
        <div class="description">
            <section class="tag right-left scroll" >
            <span style="text-indent: 120px;
            " class="second">Multi &nbsp;-</span>
            <span class="first">Multi &nbsp;-</span>
            
            <span class="first">Multi &nbsp;-</span>
            <span class="first">Multi &nbsp;-</span>
            <span class="first">Multi &nbsp;-</span>
            
            </section>
            <section class="tag left-right">
                 <span>Disciplinary</span>
                 <span class="first">Disciplinary</span>
                 <span class="first">Disciplinary</span>
                 <span class="first">Disciplinary</span>
                 
                 
            </section>
            <section class="tag right-left">
                <span class="first">Designer</span>
                <span class="first">Designer</span>
                <span class="first">Designer</span>
                <span class="first">Designer</span>
                
               </section>
            <div class="designer-text">
                <section class="tag right-left">
                    <span class="second">Designer</span>
                    
                   </section>
                <section class="desc">Creative Thinking and Problem
                    solving are where my mind wonders using my knowledge and passion for design as my medium
                </section>
            </div>
        </div>
        <div></div>
    </div>
    <div class="arrow">
        <div class="arrow-down">
            <mat-icon color="white">arrow_downward</mat-icon>
        </div>
    </div>
</div>