<div>
    <div class="container">
        <div class="hr-line">
            <hr class="hr-2">
        </div>
        <div class="heading heading-2">
            <section>03/</section>
            <section>SKILLS</section>
            <section></section>
            <section>/04</section>
        </div>
        <div class="description">
            <section class="tag right-left scroll">
                <span>UI/UX . Information Design . </span>

                <span>UI/UX . Information Design . </span>
                <span>UI/UX . Information Design . </span>
                <span>UI/UX . Information Design . </span>

            </section>
            <section class="tag left-right">
                <span>Illustration . Motion . </span>
                <span>Illustration . Motion . </span>
                <span>Illustration . Motion . </span>
                <span>Illustration . Motion . </span>
            </section>
            <section class="tag right-left">
                <span>AR/VR . Editorial Design . </span>
                <span>AR/VR . Editorial Design . </span>
                <span>AR/VR . Editorial Design . </span>
                <span>AR/VR . Editorial Design . </span>
            </section>
        </div>
    </div>

</div>