/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: "Archivo";
    src: url('assets/Archivo-VariableFont_wdth,wght.ttf');
}

* {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    background:#FAF9F6;
    color: black;
}
.right-left {
        animation: RightToLeft 15s infinite linear;    
    }
.left-right {
        animation: LeftToRight 15s linear infinite;    
}

@keyframes RightToLeft {
        
    to {
        transform: translateX(calc( -50% - 1.5rem));
    }

}
@keyframes LeftToRight {
    from {
        transform: translateX(-50%);
    }
    to {
        transform: translateX(calc(0% + 1.5rem));
    }

}