<div class="container">
    <hr>
    <div class="heading">
        <span>03/</span>
        <div>
            <span>Kapsul</span>
            <span>/05</span>
        </div>
    </div>
    <div class="page-info">
        <div class="col-1">
            <section class="title">
                kapsul landing page
                experience
            </section>
            <section class="text">
                With Kapsul entering the smart air space we used a 16 column grid filled with interactive dots that move
                around on hover to represent air molecules. Since the Kapsul W% is the first product in Kapsul's lineup
                the design for the page puts it at the center stage. With an interactive module showing off the unique
                design, the user can move around the product to see how it looks at every angle. the rest of the page
                showcases various features in how the product was engineered, how to install it, and how to control it.
            </section>
        </div>
        <div class="col-2">
            <img src="assets/images/prod5.png" alt="landing-page-images">
            <img src="assets/images/prod4.png" alt="landing-page-images">
            <img src="assets/images/prod6.png" alt="landing-page-images">
            <img src="assets/images/prod7.png" alt="landing-page-images">
        </div>
    </div>
</div>